html, body {
    height: 100%;
}

html{
    margin: auto;
}

body {
    width: 980px;
    margin: 0 auto;
}

.login-form {
    width: 50%;
    position: fixed;
    top: 20%;
    left: 28%;
}

.copyright {
    position: fixed;
    bottom: 0;
}